<div class="large-12 columns" role="content">
  <%= link_to "New Blog Post", new_blogpost_path, class: "round button small" %>
  <% @blog_posts.each do |blogpost| %>
  <article class="blogpost">
    <h3><%= link_to blogpost.title, blogpost_path(blogpost) %></h3>
    <h6>Written by <a href="#">John Smith</a> on <%= blogpost_date(blogpost.created_at) %>.</h6>
  </article>
  <% end %>
</div>
